* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
  }
   
  body {
    background: #6cb4ab;
    overflow: auto;
    background-image: url(blue-background-hd-for-banner-sm.jpg);
      height: 100vh;
      background-size: cover;
      overflow: hidden;
  }
   
  h1{
     text-align: center;
     margin: 5%;
     font-size: 3rem;
     text-decoration: underline;
  }
   
  ul {
    text-align: left;
    padding-left: 10%;
    padding: 7%;
    font-size: 2rem;
    list-style: circle;
  }
   
  li:hover{
    color:rgb(243, 21, 21);
    margin: 4%;
    transition: 1.5s ease;
    cursor: pointer;
  }
  
